<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Hospital</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="Styles/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!--Master container for the page begins here-->
	<div id="mast_container">
		<div id="masthead">
		
		</div>
		<!--Top Container begins here-->
		<div class="top_container">
			<div id="top_left_col">
				<hr />
				<div id="links">
				<ul>
					<li><a name="home" href="">HOME</a></li>
					<li><a name="about" href="">ABOUT US</a></li>
					<li><a name="patient" href="">PATIENT CARE</a></li>
					<li><a name="child" href="">CHILD CARE</a></li>
					<li><a name="services" href="">SERVICES</a></li>
					<li><a name="career" href="">CAREER</a></li>
					<li><a name="contact" href="">CONTACT US</a></li>
				</ul>
			</div>

			</div>
			<div id="top_page_content">
				<hr id="redhr" />
				<div id="img1"><img src="Images/image1.JPG" alt="" width="100%" height="100%"/></div>
			</div>
		</div>
		<!--Top Container ends here-->
		
		<!--Bottom Container begins here-->
		<div class="bot_container">
			<div id="bot_left_col">
				<hr/>
				<div id="login_form">
				
				<b>Username:</b>
				<input type="text" class="input_text"/>
				<br/>
				<b>Password:</b>
				<input type="text" class="input_text"/>
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="LOG IN" class="button"/>
				</div>
				<hr/>
				<div id="categories">
				<ul>
						<li><a name="pead" href="">PEADEATRICS</a></li>
						<li><a name="gyna" href="">GYNAECOLOGY</a></li>
						<li><a name="dent" href="">DENTAL CARE</a></li>
						<li><a name="ortho" href="">ORTHOPEDICS</a></li>
						<li><a name="cardio" href="">CARDIOLOGY</a></li>
						<li><a name="mater" href="">MATERNITY</a></li>
						<li><a name="pead" href="">PEADEATRICS</a></li>
						<li><a name="gyna" href="">GYNAECOLOGY</a></li>
						<li><a name="dent" href="">DENTAL CARE</a></li>
						<li><a name="ortho" href="">ORTHOPEDICS</a></li>
						<li><a name="cardio" href="">CARDIOLOGY</a></li>
						<li><a name="mater" href="">MATERNITY</a></li>

				</ul>
				</div>
			</div>
			<div id="bot_page_content">
				<hr id="bluehr"/>
				<div id="desc">
					<table border="0" width="100%">

	<tr>
		<td width="11%">Mã phi&#7871;u khám</td>
		<td width="21%"> <select size="1" name="D1">
			<option id='opt1'>PK0000001</option>
			<option id='opt2'>PK0000002</option>
			<option id='opt3'>PK0000003</option>

			<option id='opt4'>PK0000004</option>
			<option id='opt5'>PK0000005</option>
			</select>
		</td>
		<td width="11%">Ngày khám</td>
		<td width="16%">
				<p><input type="text" name="T1" size="16" readonly="true"></p>

		</td>
		<td width="8%">Gi&#7901; khám</td>
		<td width="28%"><input type="text" name="T2" size="13" readonly="true"></td>
	</tr>
	<tr>
		<td width="11%">H&#7885; tên</td>

		<td width="21%"><input type="text" name="T3" size="29" readonly="true"></td>
		<td width="11%">N&#259;m sinh</td>
		<td width="16%"><input type="text" name="T4" size="16" readonly="true"></td>
		<td width="8%">&#272;&#7883;a ch&#7881;</td>
		<td width="28%"><input type="text" name="T5" size="28" readonly="true"></td>
	</tr>
	<tr>

		<td width="11%">S&#7889; CMND</td>
		<td width="21%"><input type="text" name="T6" size="20" readonly="true"></td>
		<td width="11%">Chu&#7849;n &#273;oán</td>
		<td colspan="3"> <select size="1" name="D2">
			<option>Ch&#7885;n mã lo&#7841;i b&#7879;nh t&#432;&#417;ng &#7913;ng</option>

			</select></td>
	</tr>
	<tr>
		<td colspan="6">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="6">Chi ti&#7871;t toa thu&#7889;c</td>

	</tr>
	<tr>
		<td colspan="6">
		<table border="1" width="100%">
			<tr>
				<td width="44" align="center">STT</td>
				<td width="220" align="center">Tên thu&#7889;c</td>

				<td width="92" align="center">S&#7889; l&#432;&#7907;ng</td>
				<td width="95" align="center">Sáng</td>
				<td width="84" align="center">Tr&#432;a</td>
				<td width="92" align="center">Chi&#7873;u</td>

				<td width="103" align="center">T&#7889;i</td>
				<td align="center">Ghi chú</td>
			</tr>
			<tr>
				<td width="44" align="center">1</td>
				<td width="220" align="center"> <select size="1" name="D3">

			<option id='opt6'>T0000001</option>
			<option id='opt7'>T0000002</option>
			<option id='opt8'>T0000003</option>
			<option id='opt9'>T0000004</option>
			<option id='opt10'>T0000005</option>
			</select></td>

				<td width="92" align="center">
				<select size="1" name="D8">
			<option id='opt31'>01</option>
			<option id='opt32'>02</option>
			<option id='opt33'>03</option>
			<option id='opt34'>04</option>
			<option id='opt35'>05</option>

			</select></td>
				<td width="95" align="center"> <select size="1" name="D4">
			<option id='opt11'>01</option>
			<option id='opt12'>02</option>
			<option id='opt13'>03</option>
			<option id='opt14'>04</option>

			<option id='opt15'>05</option>
			</select></td>
				<td width="84" align="center"> <select size="1" name="D5">
			<option id='opt16'>01</option>
			<option id='opt17'>02</option>
			<option id='opt18'>03</option>

			<option id='opt19'>04</option>
			<option id='opt20'>05</option>
			</select></td>
				<td width="92" align="center"> <select size="1" name="D6">
			<option id='opt21'>01</option>
			<option id='opt22'>02</option>

			<option id='opt23'>03</option>
			<option id='opt24'>04</option>
			<option id='opt25'>05</option>
			</select></td>
				<td width="103" align="center"> <select size="1" name="D7">
			<option id='opt26'>01</option>

			<option id='opt27'>02</option>
			<option id='opt28'>03</option>
			<option id='opt29'>04</option>
			<option id='opt30'>05</option>
			</select></td>
				<td align="center"><input type="text" name="T7" size="25" ></td>
			</tr>

		</table>
		</td>
	</tr>
	<tr>
		<td colspan="6">&nbsp;</td>
	</tr>
	<tr>
		<td width="11%" height="24">L&#7901;i d&#7863;n c&#7911;a BS</td>

		<td colspan="5" height="24"> <input type="text" name="T8" size="78" ></td>
	</tr>
	<tr>
		<td colspan="6">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="6">
		
			<table border="0" width="75%">

				<tr>
					<td width="80" align="center">
					
						<p><input type="button" value="  L&#432;u  " name="B3"></p></td>
					<td width="84" align="center">
					<input type="button" value="  S&#7917;a  " name="B4"></td>
					<td width="82" align="center">
					<input type="button" value="  Xóa  " name="B5"></td>
					<td width="170" align="center"><input type="button" value="      In toa thu&#7889;c    " name="B6"></td>
					<td align="center">

					<input type="button" value="L&#7853;p toa thu&#7889;c m&#7899;i" name="B7" style="float: left"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
				</div>
			</div>
		</div>
		<!--Bottom Container ends here-->

		<!--Footer begins here-->
		<div id="footer">
			<hr/>
			<div id="footer_links">
				<a name="home" href="">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="about" href="">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="patient" href="">PATIENT CARE</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="child" href="">CHILD CARE</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="services" href="">SERVICES</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="career" href="">CAREER</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="contact" href="">CONTACT US</a>
			</div>
			<hr id="bluehr"/>
			<div id="credit">
				Created by Saffron Stroke (2009)
			</div>
		</div>
		<!--Footer ends here-->
	</div>
	<!--Master container for the page ends here-->
</body>

</html>
