<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Hospital</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="Styles/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!--Master container for the page begins here-->
	<div id="mast_container">
		<div id="masthead">
		
		</div>
		<!--Top Container begins here-->
		<div class="top_container">
			<div id="top_left_col">
				<hr />
				<div id="links">
				<ul>
					<li><a name="home" href="">HOME</a></li>
					<li><a name="about" href="">ABOUT US</a></li>
					<li><a name="patient" href="">PATIENT CARE</a></li>
					<li><a name="child" href="">CHILD CARE</a></li>
					<li><a name="services" href="">SERVICES</a></li>
					<li><a name="career" href="">CAREER</a></li>
					<li><a name="contact" href="">CONTACT US</a></li>
				</ul>
			</div>

			</div>
			<div id="top_page_content">
				<hr id="redhr" />
				<div id="img1"><img src="Images/image1.JPG" alt="" width="100%" height="100%"/></div>
			</div>
		</div>
		<!--Top Container ends here-->
		
		<!--Bottom Container begins here-->
		<div class="bot_container">
			<div id="bot_left_col">
				<hr/>
				<div id="login_form">
				
				<b>Username:</b>
				<input type="text" class="input_text"/>
				<br/>
				<b>Password:</b>
				<input type="text" class="input_text"/>
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="LOG IN" class="button"/>
				</div>
				<hr/>
				<div id="categories">
				<ul>
						<li><a name="pead" href="">PEADEATRICS</a></li>
						<li><a name="gyna" href="">GYNAECOLOGY</a></li>
						<li><a name="dent" href="">DENTAL CARE</a></li>
						<li><a name="ortho" href="">ORTHOPEDICS</a></li>
						<li><a name="cardio" href="">CARDIOLOGY</a></li>
						<li><a name="mater" href="">MATERNITY</a></li>
						<li><a name="pead" href="">PEADEATRICS</a></li>
						<li><a name="gyna" href="">GYNAECOLOGY</a></li>
						<li><a name="dent" href="">DENTAL CARE</a></li>
						<li><a name="ortho" href="">ORTHOPEDICS</a></li>
						<li><a name="cardio" href="">CARDIOLOGY</a></li>
						<li><a name="mater" href="">MATERNITY</a></li>

				</ul>
				</div>
			</div>
			<div id="bot_page_content">
				<hr id="bluehr"/>
				<div id="desc">
					

				</div>
			</div>
		</div>
		<!--Bottom Container ends here-->

		<!--Footer begins here-->
		<div id="footer">
			<hr/>
			<div id="footer_links">
				<a name="home" href="">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="about" href="">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="patient" href="">PATIENT CARE</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="child" href="">CHILD CARE</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="services" href="">SERVICES</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="career" href="">CAREER</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a name="contact" href="">CONTACT US</a>
			</div>
			<hr id="bluehr"/>
			<div id="credit">
				Created by Saffron Stroke (2009)
			</div>
		</div>
		<!--Footer ends here-->
	</div>
	<!--Master container for the page ends here-->
</body>

</html>
